In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

In [19]:

df = pd.read_csv('/content/bank-marketing.csv')

In [18]:

df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [17]:
data = df.drop(['marital','default','previous'], axis=1)
data.head()

,age,job,education,housing,loan,contact,month,day_of_week,campaign,pdays,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,basic.4y,no,no,telephone,may,mon,1,999,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,high.school,no,no,telephone,may,mon,1,999,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,high.school,yes,no,telephone,may,mon,1,999,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,basic.6y,no,no,telephone,may,mon,1,999,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,high.school,no,yes,telephone,may,mon,1,999,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [16]:
data.duplicated().sum()

2610

In [9]:
data.isnull().sum()

age               0
job               0
education         0
housing           0
loan              0
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [10]:
data.shape

(41188, 17)

In [21]:
# Encode categorical variables
le = LabelEncoder()
data = data.apply(le.fit_transform)

# Separate features and target
X = data.drop('y', axis=1)
y = data['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=90)

# Train the Decision Tree classifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2%}")

# Print the classification report
print(classification_report(y_test, y_pred))

Accuracy: 83.98%
              precision    recall  f1-score   support

           0       0.92      0.90      0.91     18289
           1       0.31      0.36      0.33      2305

    accuracy                           0.84     20594
   macro avg       0.61      0.63      0.62     20594
weighted avg       0.85      0.84      0.84     20594